In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
file_path = "C:/Users/jathi/Downloads/Motor_Vehicle_Collisions_-_Crashes_20240204.csv"
df = pd.read_csv(file_path)

C:\Users\jathi\AppData\Local\Temp\ipykernel_19708\3085491810.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [4]:
# Display basic information about the dataset
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2062758 entries, 0 to 2062757
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 456.4+ MB
None

In [5]:
# Display basic statistics of numeric columns
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
           LATITUDE     LONGITUDE  NUMBER OF PERSONS INJURED  \
count  1.829880e+06  1.829880e+06               2.062740e+06
mean   4.062756e+01 -7.375189e+01               3.082298e-01
std    1.982301e+00  3.727058e+00               6.986642e-01
min    0.000000e+00 -2.013600e+02               0.000000e+00
25%    4.066783e+01 -7.397489e+01               0.000000e+00
50%    4.072085e+01 -7.392727e+01               0.000000e+00
75%    4.076958e+01 -7.386673e+01               0.000000e+00
max    4.334444e+01  0.000000e+00               4.300000e+01

       NUMBER OF PERSONS KILLED  NUMBER OF PEDESTRIANS INJURED  \
count              2.062727e+06                   2.062758e+06
mean               1.483473e-03                   5.624460e-02
std                4.064383e-02                   2.434961e-01
min                0.000000e+00                   0.000000e+00
25%                0.000000e+00                   0.000000e+00
50%                0.000000e+00                   0.000000e+00
75%                0.000000e+00                   0.000000e+00
max                8.000000e+00                   2.700000e+01

       NUMBER OF PEDESTRIANS KILLED  NUMBER OF CYCLIST INJURED  \
count                  2.062758e+06               2.062758e+06
mean                   7.373623e-04               2.671326e-02
std                    2.762241e-02               1.632521e-01
min                    0.000000e+00               0.000000e+00
25%                    0.000000e+00               0.000000e+00
50%                    0.000000e+00               0.000000e+00
75%                    0.000000e+00               0.000000e+00
max                    6.000000e+00               4.000000e+00

       NUMBER OF CYCLIST KILLED  NUMBER OF MOTORIST INJURED  \
count              2.062758e+06                2.062758e+06
mean               1.134404e-04                2.217158e-01
std                1.069566e-02                6.597275e-01
min                0.000000e+00                0.000000e+00
25%                0.000000e+00                0.000000e+00
50%                0.000000e+00                0.000000e+00
75%                0.000000e+00                0.000000e+00
max                2.000000e+00                4.300000e+01

       NUMBER OF MOTORIST KILLED  COLLISION_ID
count               2.062758e+06  2.062758e+06
mean                6.093783e-04  3.150132e+06
std                 2.704023e-02  1.504865e+06
min                 0.000000e+00  2.200000e+01
25%                 0.000000e+00  3.151809e+06
50%                 0.000000e+00  3.667618e+06
75%                 0.000000e+00  4.183548e+06
max                 5.000000e+00  4.699551e+06

In [6]:
# Display the number of rows and columns
print("\nNumber of Rows and Columns:")
print(df.shape)

Number of Rows and Columns:
(2062758, 29)

In [7]:
# Display the column names
print("\nColumn Names:")
print(df.columns)

Column Names:
Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [8]:
# Display missing values in the dataset
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           641733
ZIP CODE                          641982
LATITUDE                          232878
LONGITUDE                         232878
LOCATION                          232878
ON STREET NAME                    437095
CROSS STREET NAME                 778012
OFF STREET NAME                  1718036
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6700
CONTRIBUTING FACTOR VEHICLE 2     318678
CONTRIBUTING FACTOR VEHICLE 3    1915628
CONTRIBUTING FACTOR VEHICLE 4    2029582
CONTRIBUTING FACTOR VEHICLE 5    2053782
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13456
VEHICLE TYPE CODE 2               392319
VEHICLE TYPE CODE 3              1920911
VEHICLE TYPE CODE 4              2030726
VEHICLE TYPE CODE 5              2054054
dtype: int64

In [9]:
# Display a sample of the dataset
print("\nSample of the Dataset:")
print(df.sample(10))

Sample of the Dataset:
         CRASH DATE CRASH TIME    BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
1287020  08/02/2015       2:30   BROOKLYN  11223.0  40.604195 -73.972177
1148810  04/07/2016      19:50  MANHATTAN  10027.0        NaN        NaN
182494   12/16/2020      19:04        NaN      NaN  40.683647 -73.946880
131845   05/24/2022      21:27        NaN      NaN  40.741734 -73.728300
1437839  11/10/2014      19:00      BRONX    10458  40.857795 -73.882628
894036   05/05/2017      10:40     QUEENS  11411.0  40.685120 -73.732220
1505979  07/07/2014      12:33   BROOKLYN    11216  40.672754 -73.954318
1994309  02/10/2023      17:00        NaN      NaN  40.821380 -73.954140
140551   08/06/2022      11:10  MANHATTAN  10016.0  40.747097 -73.983450
1022971  09/16/2016      15:00        NaN      NaN  40.666150 -73.841610

                          LOCATION                    ON STREET NAME  \
1287020  (40.6041946, -73.9721765)  MC DONALD AVENUE
1148810                        NaN  WEST 125 STREET
182494      (40.683647, -73.94688)  JEFFERSON AVENUE
131845       (40.741734, -73.7283)              CROSS ISLAND PARKWAY
1437839  (40.8577946, -73.8826279)  EAST FORDHAM ROAD
894036       (40.68512, -73.73222)  233 STREET
1505979  (40.6727536, -73.9543177)  STERLING PLACE
1994309      (40.82138, -73.95414)                          BROADWAY
140551      (40.747097, -73.98345)                    MADISON AVENUE
1022971      (40.66615, -73.84161)  BELT PARKWAY

                        CROSS STREET NAME OFF STREET NAME  ...  \
1287020  KINGS HIGHWAY                                NaN  ...
1148810                          8 AVENUE             NaN  ...
182494                                NaN             NaN  ...
131845                                NaN             NaN  ...
1437839  CAMBRELENG AVENUE                            NaN  ...
894036                         121 AVENUE             NaN  ...
1505979  BEDFORD AVENUE                               NaN  ...
1994309                               NaN             NaN  ...
140551                     EAST 33 STREET             NaN  ...
1022971                               NaN             NaN  ...

         CONTRIBUTING FACTOR VEHICLE 2  CONTRIBUTING FACTOR VEHICLE 3  \
1287020                    Unspecified                            NaN
1148810                    Unspecified                            NaN
182494                     Unspecified                            NaN
131845                     Unspecified                            NaN
1437839                    Unspecified                            NaN
894036                     Unspecified                            NaN
1505979                    Unspecified                            NaN
1994309                            NaN                            NaN
140551            Unsafe Lane Changing                            NaN
1022971                    Unspecified                            NaN

         CONTRIBUTING FACTOR VEHICLE 4  CONTRIBUTING FACTOR VEHICLE 5  \
1287020                            NaN                            NaN
1148810                            NaN                            NaN
182494                             NaN                            NaN
131845                             NaN                            NaN
1437839                            NaN                            NaN
894036                             NaN                            NaN
1505979                            NaN                            NaN
1994309                            NaN                            NaN
140551                             NaN                            NaN
1022971                            NaN                            NaN

         COLLISION_ID                  VEHICLE TYPE CODE 1  \
1287020       3269585                    PASSENGER VEHICLE
1148810       3410165                           4 dr sedan
182494        4376693                                Sedan
131845        4530830                                Sedan
1437839       2822369                    PASSENGER VEHICLE
894036        3663618  Station Wagon/Sport Utility Vehicle
1505979        736226              SMALL COM VEH(4 TIRES)
1994309       4609675  Station Wagon/Sport Utility Vehicle
140551        4553122  Station Wagon/Sport Utility Vehicle
1022971       3521264                                Sedan

                         VEHICLE TYPE CODE 2  VEHICLE TYPE CODE 3  \
1287020        SPORT UTILITY / STATION WAGON                  NaN
1148810                        Pick-up Truck                  NaN
182494                                 Sedan                  NaN
131845   Station Wagon/Sport Utility Vehicle                  NaN
1437839                              UNKNOWN                  NaN
894036                                 Sedan                  NaN
1505979                    PASSENGER VEHICLE                  NaN
1994309                                  NaN                  NaN
140551                             Box Truck                  NaN
1022971  Station Wagon/Sport Utility Vehicle                  NaN

        VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
1287020                 NaN                 NaN
1148810                 NaN                 NaN
182494                  NaN                 NaN
131845                  NaN                 NaN
1437839                 NaN                 NaN
894036                  NaN                 NaN
1505979                 NaN                 NaN
1994309                 NaN                 NaN
140551                  NaN                 NaN
1022971                 NaN                 NaN

[10 rows x 29 columns]